@model Invoice

<!doctype html>
<html>
<head>

	<style>
		.invoice-box {
			max-width: 800px;
			margin: auto;
			padding: 30px;
			border: 1px solid #eee;
			box-shadow: 0 0 10px rgba(0, 0, 0, .15);
			font-size: 16px;
			line-height: 24px;
			font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			color: #555;
		}

			.invoice-box table {
				width: 100%;
				line-height: inherit;
				text-align: left;
			}

				.invoice-box table td {
					padding: 5px;
					vertical-align: top;
				}

				.invoice-box table tr td:nth-child(2) {
					text-align: right;
				}

				.invoice-box table tr td:nth-child(3) {
					text-align: right;
				}

				.invoice-box table tr td:nth-child(4) {
					text-align: right;
				}

				.invoice-box table tr.top table td {
					padding-bottom: 20px;
				}

					.invoice-box table tr.top table td.title {
						font-size: 45px;
						line-height: 45px;
						color: #333;
					}

				.invoice-box table tr.information table td {
					padding-bottom: 40px;
				}

				.invoice-box table tr.heading td {
					background: #eee;
					border-bottom: 1px solid #ddd;
					font-weight: bold;
				}

				.invoice-box table tr.details td {
					padding-bottom: 20px;
				}

				.invoice-box table tr.item td {
					border-bottom: 1px solid #eee;
				}

				.invoice-box table tr.item.last td {
					border-bottom: none;
				}

				.invoice-box table tr.total td:nth-child(2) {
					border-top: 2px solid #eee;
					font-weight: bold;
				}

		.button-box {
			max-width: 800px;
			margin: auto;
			padding: 10px;
		}

		.button-24 {
			margin: auto;
			background: #FF4742;
			border: 1px solid #FF4742;
			border-radius: 6px;
			box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
			box-sizing: border-box;
			color: #FFFFFF;
			cursor: pointer;
			display: inline-block;
			font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
			font-size: 16px;
			font-weight: 800;
			line-height: 16px;
			min-height: 40px;
			outline: 0;
			padding: 12px 14px;
			text-align: center;
			text-rendering: geometricprecision;
			text-transform: none;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
			vertical-align: middle;
		}

			.button-24:hover,
			.button-24:active {
				background-color: initial;
				background-position: 0 0;
				color: #FF4742;
			}

			.button-24:active {
				opacity: .5;

		@@media only screen and (max-width: 600px) {
			.invoice-box table tr.top table td {
				width: 100%;
				display: block;
				text-align: center;
			}

			.invoice-box table tr.information table td {
				width: 100%;
				display: block;
				text-align: center;
			}
		}

		/** RTL **/
		.rtl {
			direction: rtl;
			font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
		}

			.rtl table {
				text-align: right;
			}

				.rtl table tr td:nth-child(2) {
					text-align: left;
				}
	</style>
</head>

<body>
	<div class="invoice-box">
		<table cellpadding="0" cellspacing="0">
			<tr class="top">
				<td colspan="4">
					<table>
						<tr>
							<td class="title">
								<img src="https://www.nexuspolska.pl/files/nexus-polska/Logo/NX-Polska.png" style="width:100%; max-width:300px;">
							</td>

							<td>
								Invoice #: 123445666<br>
								Created: @Model.CreateDate<br>
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr class="information">
				<td colspan="4">
					<table>
						<tr>
							<td>
								@Model.Supplier.Name<br>
								@Model.Supplier.Address
							</td>

							<td>
								@Model.Customer.Name<br>
								@Model.Customer.Address
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr class="heading">
				<td>
					Nazwa
				</td>
				<td>
					Ilość
				</td>
				<td>
					Netto/szt.
				</td>
				<td>
					Price
				</td>
			</tr>
			@foreach (var item in Model.Items)
			{
				<tr class="item">
					<td>
						@item.Name
					</td>

					<td>
						@item.Count
					</td>
					<td>
						@item.NettoPrice
					</td>
					<td>
						@item.Total
					</td>
				</tr>
			}

			<tr class="total">
				<td></td>
				<td></td>
				<td></td>
				<td>
					Total: $@Model.Podsumowanie.ToString("0.##")
				</td>
			</tr>
		</table>
	</div>

	<div class="button-box">
		<a asp-area="" asp-controller="Home" asp-action="Index">
			<button class="button-24" role="button">Wygeneruj kolejną fakturę</button>
		</a>
	</div>
	

</body>
</html>
